<form action="/tokens" method="post">
<input type="hidden" name="tenent" value="<%= model.id%>">

<input type="text" name="tokenname" placeholder="entertokenname">
<input type="boolean" name="valid" placeholder="valid">
<!-- <input type="boolean" name="valid" value="false">  -->
<input type="submit" value="add">
</form>