<form action="/tenents" method="post">
<input type="text" name="name" placeholder="entertenentname">
<input type="submit" value="ADD">
</form>
<!-- <form action="/entities/new" method="get">
<input type="hidden" name="owner" value="<%= model.id%>">
<input type="submit" value="ADD">
</form> -->