<h1>created fields</h1>

<form action="/feildes" method="post">
<input type="hidden" name="pp" value="<%= model.id%>">
<input type="text" name="name" placeholder="entername">
<input type="type" name="type" placeholder="entertype">
<input type="submit" value="ADD">
</form>
